body {
    margin: 0;
    background-color: #ddf2db;
    font-size: 18px;
    line-height: 26px;
}

nav {
    background-color: rgba(57, 87, 64, 0.55);
    overflow: hidden;
    scroll-behavior: smooth;
    height: 40px;
   }
nav section {
    margin-top:6px;
}
.container a {
    padding: calc(1em + 2px);
    width: 100vw;
    margin-top: 15px;
    border: solid 1px transparent;
    padding: 1em;
    color: #f2f3ee;
}
.container {
    background-color: #ddf2db;
    height: calc(3em + 4px);
    vertical-align: middle;
    section
}

p {
    margin: 1em;
}